# Ignore Python cache files and byte compiled files
__pycache__/
*.pyc 
*.py[cod]


# Ignore logs
*.log 

# Ignore environment variables
.env 

# Ignore data files
/data

# Ignore Virtual Environments
/env
.env/


